$sidenavWidth: 3.5em;
.base {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content-container {
    width: calc(100% - #{$sidenavWidth});
    margin-left: $sidenavWidth !important;
    transition: margin-left 0.3s;
}