<div class="time-events-banner">
    <div class="time-events-title">Time Events</div>
    <div class="total-hours">Total Hours: 0:00</div>
</div>

<div class="positions-container">
    <div class="position-container">
        <p class="position-title">
            Chief Executive Officer
        </p>
        <hr>
        <div class="times-container">
            <div class="time-blocks">
                <p class="time-block-title">Time Blocks:</p>
                <div class="time-block">
                    <p class="start-time">
                        9:00 AM
                    </p>
                    <p class="end-time">
                        5:00 PM
                    </p>
                </div>
            </div>
            <div class="unmatched-time-events">
                <p class="unmatched-time-title">Unmatched Time Events:</p>
                <div class="unmatched-time-event">
                    <p class="unmatched-time">
                        8:00 AM
                    </p>
                    <p class="in-or-out">
                        OUT
                    </p>
                </div>
                <div class="unmatched-time-event">
                    <p class="unmatched-time">
                        8:00 AM
                    </p>
                    <p class="in-or-out">
                        OUT
                    </p>
                </div>
                <div class="unmatched-time-event">
                    <p class="unmatched-time">
                        8:00 AM
                    </p>
                    <p class="in-or-out">
                        OUT
                    </p>
                </div>
                <div class="unmatched-time-event">
                    <p class="unmatched-time">
                        8:00 AM
                    </p>
                    <p class="in-or-out">
                        OUT
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>