.contents {
    padding: 15px;
    padding-bottom: 0;
    height: 75vh;
    overflow: auto;
}

.container {
    max-width: 96vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #fff;
}

h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.4em;
}

h4 {
    margin: 0;
    font-size: 1.1em;
}

.col1, .col2 {
    width:50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.divider {
    border: 1px solid #000; 
    margin: 5px 0;
}


.jobBlock {
    border-width: 0;
    border-radius: 20px;
    border-style: solid;
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
}

.businessTitle {
    font-size: large;
    font-weight: bold;
}

.times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px;
    color: white;
    background-color: #002e5d;
    margin: 5px;
    border-radius: 15px;
    max-width: 95%;
}

.punch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.1em;
    padding: 15px;
    color: #002e5d;
    background-color: white;
    margin: 5px;
    border-radius: 15px;
    max-width: 90%;
    border-color: #fc4c4c;
    border-width: 3px;
    border-style: solid;
}



.no-punches {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    padding-top: 30px;
}

.delete {
    color: #b52828;
}

