<div *ngIf="day?.punches?.length === 0 && day?.periodBlocks?.length === 0" class="card-content">
	<span class="no-punches">No time events recorded for this day.</span>
</div>

<div *ngIf="day?.punches?.length !== 0 || day?.periodBlocks?.length !== 0">
	<div class="container">
		<div class="col1">
			<!-- Period Blocks -->
			<h3>Time Blocks</h3>
			<div *ngIf="day?.periodBlocks?.length > 0">
				<div class="periods">
					<div class="period" *ngFor="let period of day?.periodBlocks">
						<div class="times" >
							<div class="start">
								{{ period?.startDate === undefined ? "!" : getAMPMTimeFromDate(period?.startDate) }}
							</div>
							<div class="end">
								{{ period?.endDate === undefined ? "!" : getAMPMTimeFromDate(period?.endDate) }}
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>


		<div class="col2">

			<div class="total"> Total Hours: {{ calculateTotalHours(day)?.punchedHours }} </div>
			<!-- Unmatched Time Events -->
			<div *ngIf="day?.punches?.length > 0" class="card-content">
				<h3>Unmatched Time Events</h3>
				<div class="punches">
					<div class="punch" *ngFor="let punch of day?.punches">
						<span class="time" >
							{{ punch?.time ? (punch?.time | date: "shortTime") : "--:--" }}
						</span>

						<span class="type"  [ngStyle]="{'color' : punchType.toString(punch?.type) === 'IN' ? 'darkgreen' : 'darkred'}">
							<b>
								{{ punchType.toString(punch?.type) }}
							</b>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
