<div class="calendar-header">
  <button class="calendar-left">&lt; Prev</button>
  <p class="calendar-month">June 2025</p>
  <button class="calendar-right">Next &gt;</button>
</div>

<div class="calendar-container">
  <!-- Grid container for weekdays + calendar days -->
  <div class="calendar-grid">
    <!-- Weekday headers -->
    <div class="day-name">Sunday</div>
    <div class="day-name">Monday</div>
    <div class="day-name">Tuesday</div>
    <div class="day-name">Wednesday</div>
    <div class="day-name">Thursday</div>
    <div class="day-name">Friday</div>
    <div class="day-name">Saturday</div>
    <div class="unprocessed-punches-msg">
       <p>⚠ 6 events have not yet processed. </p>
    </div>
  </div>
</div>
