<div class="keypad">
    <div class="keypad-row">
        <button class="keypad-button one">1</button>
        <button class="keypad-button two">2</button>
        <button class="keypad-button three">3</button>
    </div>

    <div class="keypad-row">
        <button class="keypad-button four">4</button>
        <button class="keypad-button five">5</button>
        <button class="keypad-button six">6</button>
    </div>

    <div class="keypad-row">
        <button class="keypad-button seven">7</button>
        <button class="keypad-button eight">8</button>
        <button class="keypad-button nine">9</button>
    </div>

    <div class="keypad-row">
        <button class="keypad-button del">Del</button>
        <button class="keypad-button zero">0</button>
        <button class="keypad-button enter">Enter</button>
    </div>
</div>
