$card-width: 95%;
.byu-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  min-inline-size: 100%;
}

.title-org-main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 100%;
}

.title-org {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 100%;
}



.job-title-main {
  text-align: left;
  min-width: 100%;
  font-size: .93em;
}

.job-title {
  text-align: left;
  min-width: 100%;
  font-size: .93em;
}

.supervisory-org {
  color: #1b65bf;
  text-decoration: bold;
  font-size: .7em;
  text-align: left;
  min-width: 100%; 
}

.scroll-container{
  overflow: hidden;
  max-width: 100%;
}

.scroll{
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  // padding-left: 100%;
  animation: marquee 8s linear infinite;
}
.scroll span{
  display: inline-block;
  padding-right: 25px;
}

@keyframes marquee {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.tecSelect {
  background-color: white;
  border-radius: 20px;
  border-width: 2px !important;
  min-height: 6vh;
  min-width: 10vw;
  padding: 1.8vh 0.8vw;
  border-color: #b3b3b3;
  border-style: solid;
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
}

.container {
  padding: 0.5em 1%;
  width: 98%;
  column-gap: 1em;
  column-fill: initial;
  column-count: 1;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card {
    margin: 0 0 0.5em;
    break-inside: avoid;
  }
}

.grey-out {
  color: rgb(177, 177, 177) !important;
  border-color: rgb(177, 177, 177) !important;   
  ::ng-deep .mdc-label {
    color: rgb(177, 177, 177) !important;
  }
  --mdc-radio-disabled-selected-icon-color: rgb(177,177,177) !important;
  --mdc-radio-disabled-unselected-icon-color: rgb(177,177,177) !important;
  --mdc-radio-unselected-hover-icon-color: rgb(177,177,177) !important;
  --mdc-radio-unselected-icon-color: rgb(177,177,177) !important;
  --mdc-radio-unselected-pressed-icon-color: rgb(177,177,177) !important;
  --mdc-radio-selected-focus-icon-color: rgb(177,177,177) !important;
  --mdc-radio-selected-hover-icon-color: rgb(177,177,177) !important;
  --mdc-radio-selected-icon-color: rgb(177,177,177) !important;
  --mdc-radio-selected-pressed-icon-color: rgb(177,177,177) !important;
  --mat-radio-ripple-color: rgb(177,177,177) !important;
  --mat-radio-checked-ripple-color: rgb(177,177,177) !important;
  --mat-radio-disabled-label-color: rgb(177,177,177) !important;
    
}

.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: $card-width;
}

.jobs {
  overflow-y: auto;
  height: 60vh;
  width: $card-width;

  &::-webkit-scrollbar {
    width: 0.6em;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 3vh;
  }

  &::-webkit-scrollbar-thumb {
    background: #969595;
    border-radius: 3vh;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
  }

  .card {
    height: 100%;
  }
  .grid {
    width: $card-width;
    margin-left: 3vw;
  }
  .mat-grid-tile {
    font-size: 96%;
    &.header {
      &:after {
        $width: 45%;
        position: absolute;
        bottom: 29%;
        height: 3%;
        width: $width;
        margin-left: calc((100% - $width) / 2);
        background-color: #c5c5c5;
        content: "";
      }
    }
    &.job-header {
      &:after {
        $width: 70%;
        position: absolute;
        bottom: 29%;
        height: 3%;
        width: $width;
        background-color: #c5c5c5;
        content: "";
      }
    }
  }
}

.view-timesheet {
  width: $card-width + 2%;
  height: 10vh;
  margin: 0 0 0.5em;
  background-color: #1b65bf;
  border-radius: 20px;
  border-width: 0px;
  color: white;
  font-size: 1em;
}

.hidden {
  width: $card-width + 2%;
  height: 10vh;
  margin: 0 0 0.5em;
  background-color: #bdbbbb;
  border-radius: 20px;
  border-width: 1px;
  border-color: #b3b3b3;
  color: white;
  font-size: 1em;
}

.clock-group {
  height: 100%;
  border-width: 2px !important;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .clock-button {
    display: flex;
    align-items: center;
    min-height: 6vh;
    min-width: 10vw;
    padding: 0.8vh 0.55vw;
    border-color: #b3b3b3;
    border-style: solid;
    border-radius: 20px; // fully rounded
  }
}

