<mat-toolbar class="do-header" color="primary">
	<button mat-button (click)="goBack()">
		<mat-icon style="transform: scale(2)">keyboard_arrow_left </mat-icon>
	</button>
	<span (click)="goBack()">
		{{ day?.time | date: "EEE. MMM d, y" }}
	</span>

	<span class="do-header-spacer"></span>
	<span class="do-header-spacer"></span>

	<span (click)="logout()">{{ emp?.name }} </span>
	<button (click)="logout()" mat-icon-button>
		<mat-icon>exit_to_app</mat-icon>
	</button>
</mat-toolbar>

<div class="banner">
	<div class="punchesText" (click)="api?.hiddenDarkMode()" >Time Events</div>
	<div class="total"> Total Hours: {{ calculateTotalHours(day)?.punchedHours }} </div>
</div>

<punches class="tab-content" [emp]="emp" [byuID]="emp?.id" [day]="day"></punches>
