$card-width: 95%;
$date-diameter: 4.5vw;
.header-spacer {
    flex: 1 1 auto;
}

.back {
    font-size: 30pt;
}

.back-button {
    padding-right: 10vw;
}

.month-nav {
    border-width: 3px;
    border-style: solid;
    border-color: #1b65bf !important;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
}


.container {
    margin: 0.5em auto;
    width: 98%;
    column-gap: 1em;
    column-fill: initial;
    column-count: 1;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
        margin: 0 0 0.5em;
        break-inside: avoid;
    }
}

.monthName {
    font-size: 1.5em;
    font-weight: bold;
}
.month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: $card-width;
}

.dayName {
    font-weight: bold;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.calendar {
    overflow-y: auto;
    height: 65vh;
    width: $card-width;
    .card {
        height: 100%;
    }
    .mat-grid-tile {
        &.header {
            &:after {
                $width: 45%;
                position: absolute;
                bottom: 29%;
                height: 3%;
                width: $width;
                margin-left: calc((100% - $width) / 2);
                background-color: #c5c5c5;
                content: "";
            }
        }
    }
}

.outside {
    color: #c5c5c5;
}

.date {
    width: $date-diameter;
    height: $date-diameter;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    &.today {
        background-color: #1b65bf;
        color: white;
        font-weight: bold;
        &.exception {
            background-color: #B52828;
            border-radius: unset;
            border: 1px black solid;
        }
    }
    &.exception {
        background-color: #B52828;
        color: white;
        border-radius: calc($date-diameter / 2);
    }
}

.dot {
    height: 0.6em;
    width: 0.6em;
    // margin-right: 0.35em;
    align-self: center;
    background-color: darkgreen;
    border-radius: 50%;
    display: block;
    &.exception {
        background-color: #f6f6f6;
    }
}

.reddot {
    height: 0.6em;
    width: 0.6em;
    // margin-right: 0.35em;
    align-self: center;
    background-color: rgb(100, 15, 0);
    border-radius: 50%;
    display: block;
    &.exception {
        background-color: #f6f6f6;
    }
}

.unprocessed {
    display: flex;
    align-self: center;
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: red;
    z-index: 1;
}

.slide-right {
    animation: slideRightAnimation .1s ease-in-out forwards;
}

.slide-right2 {
    animation: slideRightAnimation2 .2s ease-in-out forwards;
}

.slide-name-right {
    animation: monthNameRight .4s ease-in-out forwards;
}



@keyframes slideRightAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(150%);
    }
}

@keyframes slideRightAnimation2 {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}




.slide-left {
    animation: slideLeftAnimation .1s ease-in-out forwards;
}

.slide-left2 {
    animation: slideLeftAnimation2 .2s ease-in-out forwards;
}

.slide-name-left {
    animation: monthNameLeft .4s ease-in-out forwards;
}



@keyframes slideLeftAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes slideLeftAnimation2 {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes monthNameRight {
    0% {
        transform: translatex(-30px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes monthNameLeft {
    0%  {
        transform: translatex(30px);
    }
    100% {
        transform: translateX(0);
    }
}