<div class="totals-header">
    <p class="weekly-total">Weekly Total: 0:00</p>
    <p class="daily-total">Daily Total: 0:00</p>
</div>

<div class="clock-container">
    <div class="clock-grid">
        <p class="clock-heading">Job Title</p>
        <p class="clock-heading">Week</p>
        <p class="clock-heading">Pay Period</p>
        <p class="clock-heading">Clock</p>

        <div class="job-title-container scrolling-container">
            <div class="scroll-block">
                <div>
                    <p class="job-title">Program Director</p>
                    <p class="job-department">Department of E...ppiness</p>
                </div>
            </div>
        </div>

        <p class="week-time">0:00</p>
        <p class="pay-period">0:00</p>
        <div class="custom-radio-container">
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="in-radio" value="in">
                <div class="radio-icon"></div>
                <span>IN</span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="out-radio" value="out">
                <div class="radio-icon"></div>
                <span>OUT</span>
            </label>
        </div>


        <div class="job-title-container scrolling-container">
            <div class="scroll-block">
                <div>
                    <p class="job-title">Computer Programmer</p>
                    <p class="job-department">Department of E...ppiness</p>
                </div>
            </div>
        </div>

        <p class="week-time">0:00</p>
        <p class="pay-period">0:00</p>
        <div class="custom-radio-container">
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="in-radio" value="in">
                <div class="radio-icon"></div>
                <span>IN</span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="out-radio" value="out">
                <div class="radio-icon"></div>
                <span>OUT</span>
            </label>
        </div>


        <div class="job-title-container scrolling-container">
            <div class="scroll-block">
                <div>
                    <p class="job-title">IT Technician</p>
                    <p class="job-department">Department of E...ppiness</p>
                </div>
            </div>
        </div>

        <p class="week-time">0:00</p>
        <p class="pay-period">0:00</p>
        <div class="custom-radio-container">
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="in-radio" value="in">
                <div class="radio-icon"></div>
                <span>IN</span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="out-radio" value="out">
                <div class="radio-icon"></div>
                <span>OUT</span>
            </label>
        </div>



        <div class="job-title-container scrolling-container">
            <div class="scroll-block">
                <div>
                    <p class="job-title">Systems Engineer</p>
                    <p class="job-department">Department of E...ppiness</p>
                </div>
            </div>
        </div>

        <p class="week-time">0:00</p>
        <p class="pay-period">0:00</p>
        <div class="custom-radio-container">
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="in-radio" value="in">
                <div class="radio-icon"></div>
                <span>IN</span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="out-radio" value="out">
                <div class="radio-icon"></div>
                <span>OUT</span>
            </label>
        </div>


        <div class="job-title-container scrolling-container">
            <div class="scroll-block">
                <div>
                    <p class="job-title">Office Specialist</p>
                    <p class="job-department">Department of E...ppiness</p>
                </div>
            </div>
        </div>

        <p class="week-time">0:00</p>
        <p class="pay-period">0:00</p>
        <div class="custom-radio-container">
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="in-radio" value="in">
                <div class="radio-icon"></div>
                <span>IN</span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="out-radio" value="out">
                <div class="radio-icon"></div>
                <span>OUT</span>
            </label>
        </div>



        <div class="job-title-container scrolling-container">
            <div class="scroll-block">
                <div>
                    <p class="job-title">Computer Programmer</p>
                    <p class="job-department">Department of E...ppiness</p>
                </div>
            </div>
        </div>

        <p class="week-time">0:00</p>
        <p class="pay-period">0:00</p>
        <div class="custom-radio-container">
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="in-radio" value="in">
                <div class="radio-icon"></div>
                <span>IN</span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="out-radio" value="out">
                <div class="radio-icon"></div>
                <span>OUT</span>
            </label>
        </div>



        <div class="job-title-container scrolling-container">
            <div class="scroll-block">
                <div>
                    <p class="job-title">Computer Programmer</p>
                    <p class="job-department">Department of E...ppiness</p>
                </div>
            </div>
        </div>

        <p class="week-time">0:00</p>
        <p class="pay-period">0:00</p>
        <div class="custom-radio-container">
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="in-radio" value="in">
                <div class="radio-icon"></div>
                <span>IN</span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="out-radio" value="out">
                <div class="radio-icon"></div>
                <span>OUT</span>
            </label>
        </div>


        <div class="job-title-container scrolling-container">
            <div class="scroll-block">
                <div>
                    <p class="job-title">Computer Programmer</p>
                    <p class="job-department">Department of E...ppiness</p>
                </div>
            </div>
        </div>

        <p class="week-time">0:00</p>
        <p class="pay-period">0:00</p>
        <div class="custom-radio-container">
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="in-radio" value="in">
                <div class="radio-icon"></div>
                <span>IN</span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="clock-1" class="out-radio" value="out">
                <div class="radio-icon"></div>
                <span>OUT</span>
            </label>
        </div>


    </div>
</div>


<button class="review-time-entry">Review Time Entry</button>